@model TeamsManageApplication.Components.TeamDetailsViewModel
@{
    ViewData["Title"] = "Manage your team";
}

<div class="mb-3">
    <a asp-controller="Team" asp-action="GetAllTeams">All teams</a>
    <span class="mx-1">|</span>
    <a asp-controller="Team" asp-action="GetAddTeamRequest">Add new team</a>
    <span class="mx-1">|</span>
    <a href="#">Edit this team</a>
</div>

<div>
    <p class="h6">Team summary:</p>
    <p>The team "@Model.Team.Name" was created on @Model.Team.DateCreated?.ToString("MM/dd/yyyy")</p>
</div>
<div class="row g-3 align-items-center">
    <div># of home games: @Model.HomeGameCount  &nbsp;&nbsp;&nbsp; # of away games: @Model.AwayGameCount</div>
</div>

<div class="text-danger" asp-validation-summary="All"></div>

<hr class="border border-primary border-1 opacity-75" />

<div class="row">
    <div class="col-sm-9">
        <p class="h6">Players on this team:</p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>League registration #</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model.Team.Players)
                {
                    <tr>
                        <td>@player.LastName, @player.FirstName</td>
                        <td>@player.Number</td>
                        <td>@player.LeagueRegistrationNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <form asp-controller="Team" asp-action="AddPlayer" asp-route-teamId="@Model.Team.TeamId" method="post">
            <div class="mb-3">
                <label asp-for="NewPlayer.FirstName" class="form-label">First Name</label>
                <input asp-for="NewPlayer.FirstName" class="form-control" />
                <span asp-validation-for="NewPlayer.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPlayer.LastName" class="form-label">Last Name</label>
                <input asp-for="NewPlayer.LastName" class="form-control" />
                <span asp-validation-for="NewPlayer.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPlayer.Number" class="form-label">Number</label>
                <input asp-for="NewPlayer.Number" class="form-control" />
                <span asp-validation-for="NewPlayer.Number" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPlayer.LeagueRegistrationNumber" class="form-label">League registration #</label>
                <input asp-for="NewPlayer.LeagueRegistrationNumber" class="form-control" />
                <span asp-validation-for="NewPlayer.LeagueRegistrationNumber" class="text-danger"></span>
            </div>            
            <button type="submit" class="btn btn-primary">Add player</button>
        </form>
    </div>

</div>

<hr class="border border-primary border-1 opacity-75" />

<div class="row">
    <div class="col-sm-9">
        <p class="h6">Games for this team:</p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Opposing Team</th>
                    <th>Date</th>
                    <th>Home/Away</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model.Team.Games)
                {
                    <tr>
                        <td>@game.OpposingTeamName</td>
                        <td>@game.Date?.ToString("MM/dd/yyyy")</td>
                        <td>@game.GameType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <form asp-controller="Team" asp-action="AddGame" asp-route-teamId="@Model.Team.TeamId" method="post">
            <div class="mb-3">
                <label asp-for="NewGame.OpposingTeamName" class="form-label">Opposing Team</label>
                <input asp-for="NewGame.OpposingTeamName" class="form-control" />
                <span asp-validation-for="NewGame.OpposingTeamName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewGame.Date" class="form-label">Date</label>
                <input asp-for="NewGame.Date" class="form-control datepicker" />
                <span asp-validation-for="NewGame.Date" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add new game</button>
        </form>

    </div>
</div>

<hr class="border border-primary border-1 opacity-75" />

<div>
    <p>
        Ideally this app would allow users to update games with Win/Loss/Tied results but in the
        interest of avoiding too much complexity on this exam we will ignore that for now &#128516;
    </p>
</div>
